## Reference: https://github.com/helm/chart-releaser-action
name: Chart Publish

on:
  push:
    branches:
    - master
    paths:
    - "charts/**"

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        fetch-depth: 0
    - name: Setup Helm
      uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
    - name: Prepare PGP key
      run: |
        IFS=""
        echo "$PGP_PRIVATE_KEY" | gpg --dearmor > $HOME/secring.gpg
        echo "$PGP_PASSPHRASE" > $HOME/passphrase.txt

        # Tell chart-releaser-action where to find the key and its passphrase
        echo "CR_KEYRING=$HOME/secring.gpg" >> "$GITHUB_ENV"
        echo "CR_PASSPHRASE_FILE=$HOME/passphrase.txt" >> "$GITHUB_ENV"
      env:
        PGP_PRIVATE_KEY: ${{ secrets.PGP_PRIVATE_KEY }}
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
    - name: Run chart-releaser
      uses: helm/chart-releaser-action@a917fd15b20e8b64b94d9158ad54cd6345335584 # v1.6.0
      with:
        config: "./.github/configs/cr.yaml"
      env:
        CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to GHCR
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # v3.2.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push chart to GHCR
      run: |
        shopt -s nullglob
        repo=$(echo "${{ github.repository }}" | awk '{print tolower($0)}')
        for pkg in .cr-release-packages/*.tgz; do
          if [ -z "${pkg:-}" ]; then
            break
          fi
          helm push "${pkg}" oci://ghcr.io/"${repo}"
        done
